#
# Builds the C++ standard document on Travis CI <https://travis-ci.org/cplusplus/draft>
#

dist: trusty
sudo: required
language: cpp

services:
  - docker

before_install:
  - docker pull godbyk/texlive-basic:latest
  - docker run -itd -v $TRAVIS_BUILD_DIR:/$TRAVIS_REPO_SLUG --name texlive-basic godbyk/texlive-basic

env:
  - BUILD_TYPE=latexmk   # build using latexmk, also check for overfull hboxes
  - BUILD_TYPE=make      # build using Makefile
  - BUILD_TYPE=complete  # build manually and regenerate figures, grammar, and cross-references
  - BUILD_TYPE=check-whitespace  # check for whitespace at the ends of lines
  - BUILD_TYPE=check-newlines  # check for blank lines at the ends of files
  - BUILD_TYPE=check-macro-use   # check for proper macro use

script:
  # Build std.pdf
  - pushd source
  - if [ "$BUILD_TYPE" = "latexmk" ]; then
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && latexmk -pdf std -silent";
      ! grep -Fe "Overfull \\hbox" std.log;
    fi
  - if [ "$BUILD_TYPE" = "make" ]; then
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && make -j2";
    fi
  - if [ "$BUILD_TYPE" = "complete" ]; then
      for FIGURE in *.dot; do
        docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && dot -o$(basename $FIGURE .dot).pdf -Tpdf $FIGURE";
      done;
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && pdflatex std";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && pdflatex std";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && pdflatex std";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && xindy -M texindy -M idxbfpage -C utf8 -L english -t generalindex.ilg generalindex.idx";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && xindy -M texindy -M idxbfpage -C utf8 -L english -t headerindex.ilg headerindex.idx";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && xindy -M texindy -M idxbfpage -C utf8 -L english -t libraryindex.ilg libraryindex.idx";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && xindy -M texindy -M idxbfpage -C utf8 -L english -t grammarindex.ilg grammarindex.idx";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && xindy -M texindy -M idxbfpage -C utf8 -L english -t impldefindex.ilg impldefindex.idx";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && makeindex -s basic.gst -o xrefindex.gls xrefindex.glo";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && makeindex -s basic.gst -o xrefdelta.gls xrefdelta.glo";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && pdflatex std";
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && pdflatex std";
    fi
  - popd
  # Fail if there is whitespace at the ends of any lines
  - if [ "$BUILD_TYPE" = "check-whitespace" ]; then
      ! grep '\s$' source/*.tex;
    fi
  # Fail if there are blank lines at the ends of any files
  - if [ "$BUILD_TYPE" = "check-newlines" ]; then
      for f in source/*.tex; do [ $(tail -c 2 $f | wc -l) -eq 1 ] || exit 1; done;
    fi
  # Fail if macros are used incorrectly
  - if [ "$BUILD_TYPE" = "check-macro-use" ]; then
      ! grep '\\opt[^{}]' source/*.tex;
      ! grep 'opt{}' source/*.tex;
    fi
  # Check to see if generated files are out-dated
  - pushd source
  - for FIGURE in *.dot; do
      docker exec -it texlive-basic bash -c "cd /$TRAVIS_REPO_SLUG/source && dot -o$(basename $FIGURE .dot).pdf -Tpdf $FIGURE";
      git status --porcelain $(basename $FIGURE .dot).pdf;
    done
  - popd

